@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

.font-light {
  font-weight: 100;
}

.font-medium {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.titulos-mixin-s {
  font-size: 1.2rem;
}

.titulos-mixin-m {
  font-size: 2rem;
}

.titulos-mixin-l {
  font-size: 2.5rem;
}

.titulos-mixin-xl {
  font-size: 3.5rem;
}

.form-control {
  border: 0.5px solid #D7DADD;
  border-radius: 5px;
  font-weight: 100;
  color: #7437D3;
  font-size: 15px;
}

/* SECCIÓN HOME */
.btn {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-radius: 20px;
  border-color: black;
  text-decoration: none;
  transition: all 250ms;
}

.btn:hover {
  background-color: #7437D3;
  border-color: #7437D3;
  color: white;
}

@media all and (max-width: 992px) {
  .btn {
    padding: 0.5rem 2.3rem;
    font-size: 10px;
  }
}

@media all and (max-width: 768px) {
  .btn {
    padding: 0.4rem 2rem;
    font-size: 10px;
  }
}

@media all and (max-width: 576px) {
  .btn {
    padding: 0.4rem 1.2rem;
    font-size: 10px;
  }
}

#banner {
  position: relative;
  background-image: url(../assets/festivalbyn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 50vh;
}

#banner texto {
  z-index: 2;
}

#banner .titulos-mixin-xl {
  line-height: 3.5rem;
}

@media all and (max-width: 1400px) {
  #banner .titulos-mixin-xl {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media all and (max-width: 992px) {
  #banner .titulos-mixin-xl {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
}

@media all and (max-width: 768px) {
  #banner .titulos-mixin-xl {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.item {
  transition: all 250ms;
}

.item:hover {
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  .item .titulos-mixin-s {
    font-size: 1rem;
  }
}

.item .imagenCard {
  width: 100%;
}

.item p {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  .item p {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

.item a {
  font-size: 1.2rem;
  color: #7437D3;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .item a {
    font-size: 1rem;
  }
}

.spotify {
  position: relative;
  background-image: url(../assets/spoty-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 0.5px white;
  border-radius: 5px;
}

@media all and (max-width: 992px) {
  .spotify {
    background-image: url(../assets/spoty-21.jpg);
  }
}

@media all and (max-width: 768px) {
  .spotify {
    background-image: url(../assets/s-22.jpg);
  }
}

@media all and (max-width: 576px) {
  .spotify {
    background-image: url(../assets/s-23.jpg);
  }
}

.spotify .tituloSpotify {
  font-size: 22px;
  z-index: 2;
  color: white;
}

@media all and (max-width: 768px) {
  .spotify .tituloSpotify {
    font-size: 18px;
  }
}

.spotify .textSpotify {
  font-size: 18px;
  z-index: 2;
  color: white;
}

@media all and (max-width: 768px) {
  .spotify .textSpotify {
    font-size: 14px;
  }
}

.spotify .btn {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  border-radius: 20px;
  transition: all 250ms;
}

.spotify .btn:hover {
  background-color: #7437D3;
  border-color: #7437D3;
  color: white;
}

@media all and (max-width: 992px) {
  .spotify .btn {
    padding: 0.5rem 2.3rem;
    font-size: 10px;
  }
}

@media all and (max-width: 768px) {
  .spotify .btn {
    padding: 0.4rem 2rem;
    font-size: 10px;
  }
}

.spotify .btn .logospoti {
  width: 18px;
  height: 18px;
}

.itemDestinos {
  position: relative;
}

.itemDestinos .imagenDestinos {
  border: solid 0.5px white;
  border-radius: 5px;
  width: 100%;
}

.itemDestinos .tituloDestinos {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.itemDestinos .textDestinos {
  position: absolute;
  bottom: 1px;
  right: 30px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.itemGeneros {
  position: relative;
}

.itemGeneros .imagenGeneros {
  border: solid 0.5px white;
  border-radius: 5px;
  width: 100%;
}

.itemGeneros .tituloGeneros {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.itemGeneros .textGeneros {
  position: absolute;
  bottom: 1px;
  right: 30px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

@media all and (max-width: 768px) {
  .titulos-mixin-m {
    font-size: 1.3rem;
  }
}

/* SECCIÓN FESTIVALES  */
#bannerFestivales {
  position: relative;
  background-color: black;
  min-height: 250px;
}

#bannerFestivales .texto {
  z-index: 2;
}

@media all and (max-width: 1200px) {
  #bannerFestivales .titulos-mixin-l {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
}

@media all and (max-width: 768px) {
  #bannerFestivales .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.itemFestival {
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  width: 355px;
  height: 355px;
  border: solid 0.5px #E1E4EA;
  box-shadow: 2px 2px 8px #E1E4EA;
  position: relative;
}

.itemFestival .imagenNoticia {
  width: 100%;
}

.itemFestival .descripcion {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  .itemFestival .descripcion {
    font-size: 0.9rem;
  }
}

.itemFestival .descripcion_mod {
  color: #7437D3;
  text-decoration: none;
  transition: all 250ms;
}

.itemFestival .descripcion_mod:hover {
  color: #7A4EE5;
}

@media all and (max-width: 768px) {
  .itemFestival .descripcion_mod {
    font-size: 1rem;
  }
}

.itemFestival .flecha {
  width: 20px;
  height: 40px;
}

@media all and (max-width: 768px) {
  .itemFestival .flecha {
    width: 15px;
    height: 30px;
  }
}

.select-artist {
  min-height: 60px;
  border-radius: 3px;
}

.form-select {
  padding: 1rem;
}

.btn_mod {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-color: black;
  border-radius: 20px;
  transition: all 250ms;
}

.btn_mod:hover {
  background-color: #7437D3;
  border-color: #7437D3;
}

@media all and (max-width: 768px) {
  .btn_mod {
    padding: 0.4rem 1.2rem;
    font-size: 10px;
  }
}

/* SECCIÓN ARTISTAS  */
#bannerArtistas .titulos-mixin-l {
  line-height: 2.5rem;
}

@media all and (max-width: 768px) {
  #bannerArtistas .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

#bannerArtistas .textArtistas {
  font-size: 1rem;
  line-height: 1rem;
}

@media all and (max-width: 768px) {
  #bannerArtistas .textArtistas {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

#bannerArtistas .imagenTyler {
  width: 100%;
}

.itemArtista {
  text-decoration: none;
  color: black;
  transition: all 250ms;
}

.itemArtista:hover {
  transform: scale(1.1);
  color: black;
}

.itemArtista .imagenArtista {
  width: 100%;
}

@media all and (max-width: 768px) {
  .itemArtista .titulos-mixin-s {
    font-size: 1rem;
  }
}

.itemArtista .descripcion {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  .itemArtista .descripcion {
    font-size: 0.7rem;
  }
}

@media all and (max-width: 768px) {
  #cardsCabeza .titulos-mixin-m {
    font-size: 1.3rem;
  }
}

#cardsCabeza .itemCabeza {
  text-decoration: none;
  color: black;
  transition: all 250ms;
}

#cardsCabeza .itemCabeza:hover {
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  #cardsCabeza .itemCabeza .titulos-mixin-s {
    font-size: 1rem;
  }
}

#cardsCabeza .itemCabeza .artic {
  width: 70%;
}

#cardsCabeza .itemCabeza .tyler {
  width: 70%;
}

#cardsCabeza .itemCabeza .jack {
  width: 70%;
}

#cardsCabeza .itemCabeza .posty {
  width: 70%;
}

#cardsCabeza .itemCabeza .harrysmall {
  width: 73%;
}

#cardsCabeza .itemCabeza .mac {
  width: 68%;
}

/* SECCIÓN BLOG  */
#bannerBlog {
  position: relative;
  background-image: url(../assets/bb-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
}

@media all and (max-width: 992px) {
  #bannerBlog {
    background-image: url(../assets/bb-02.jpg);
  }
}

@media all and (max-width: 768px) {
  #bannerBlog {
    background-image: url(../assets/bb-03.jpg);
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

@media all and (max-width: 576px) {
  #bannerBlog {
    background-image: url(../assets/bb-04.jpg);
  }
}

#bannerBlog .textoBlog {
  font-size: 1rem;
  z-index: 2;
  color: white;
}

@media all and (max-width: 992px) {
  #bannerBlog .textoBlog {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 768px) {
  #bannerBlog .textoBlog {
    font-size: 0.7rem;
  }
}

#bannerBlog .titulos-mixin-l {
  line-height: 2.5rem;
  color: white;
}

@media all and (max-width: 992px) {
  #bannerBlog .titulos-mixin-l {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 768px) {
  #bannerBlog .titulos-mixin-l {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

#bannerBlog .btn-noticias {
  color: white;
  text-decoration: none;
  background-color: #7437D3;
  transition: all 250ms;
}

#bannerBlog .btn-noticias:hover {
  color: #white;
}

@media all and (max-width: 768px) {
  #cardsBlog .titulos-mixin-m {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 992px) {
  #cardsBlog .titulos-mixin-m {
    font-size: 1.4rem;
  }
}

#cardsBlog .imagenNoticia {
  width: 100%;
}

@media all and (max-width: 768px) {
  #cardsBlog .itemNoticia .titulos-mixin-s {
    font-size: 1rem;
  }
}

#cardsBlog .itemNoticia .descripcion-noticia {
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  #cardsBlog .itemNoticia .descripcion-noticia {
    font-size: 0.9rem;
  }
}

/* SECCIÓN CONTACTO  */
#bannerContacto {
  position: relative;
  background-color: #7437D3;
  min-height: 100px;
}

#bannerContacto .texto {
  z-index: 2;
}

.form {
  box-sizing: border-box;
  border: solid 0.5px white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #E1E4EA;
  color: black;
}

.form .btn_mod2 {
  background-color: #000;
  padding: 0.6rem 2.5rem;
  display: inline-block;
  color: white;
  font-size: 13px;
  border-color: #000;
  border-radius: 20px;
  transition: all 250ms;
}

.form .btn_mod2:hover {
  background-color: #7437D3;
  color: white;
}

.form .form-control {
  border: 0.5px solid #D7DADD;
  border-radius: 5px;
  font-weight: 100;
  color: #7437D3;
}

.form .form-select {
  border: 0.5px solid #D7DADD;
  border-radius: 5px;
  padding: .375rem .75rem;
}

#footer .pagos {
  width: 5%;
}

@media all and (max-width: 768px) {
  #footer .pagos {
    width: 10%;
  }
}

#footer .cont-pagos {
  border-bottom: 1px solid #E1E4EA;
}

.textFooter {
  font-size: 18px;
}

@media all and (max-width: 768px) {
  .textFooter {
    font-size: 12px;
  }
}

.logoRedes {
  width: 30px;
  height: 30px;
}

@media all and (max-width: 768px) {
  .logoRedes {
    width: 25px;
    height: 25px;
  }
}

@media all and (max-width: 576px) {
  .logoRedes {
    width: 15px;
    height: 15px;
  }
}
